<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout1"
>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<div layout:fragment="content1" class="container">

    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-6 offset-3">
                <div class="card ">
                    <div class="card-header bg-warning text-white">
                        <h3>Edit a new Product 😜</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/admin/edit}" th:object="${product}">

<!--                            <input type="hidden" name="_method" value="put"/>-->
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <input type="hidden" th:field="*{id}" />
                            <div class="m-3">
                                <label class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" th:value="${product.name}">
                                <span th:errors="${product.name}" class="text-danger"></span>
                            </div>
                            <div class="m-3">
                                <label class="form-label">Price</label>
                                <input type="text" name="price" class="form-control" th:value="${product.price}">
                                <span th:errors="${product.price}" class="text-danger"></span>
                            </div>
                            <div class="m-3">
                                <label class="form-label">Quantity</label>
                                <input type="number" name="quantity" class="form-control" th:value="${product.quantity}">
                                <span th:errors="${product.quantity}" class="text-danger"></span>
                            </div>



                            <div class="m-3 mt-4 d-block text-center">
                                <button type="submit" class="btn btn-primary w-50 ">Update</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>