<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

    <div>
        <h2>Products List 💥</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th><th>NAME</th><th>PRICE</th><th>QUANTITY</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p:${productList}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.quantity}"></td>

                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>